<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"> 
  <title>Gnu Heads</title>
  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <script src="vue3.js"></script>
  <script src="vue-i18n.js"></script>
  <div id="app">

    <div class="modal" v-if="show_no_connection">
      <div>
        <div>
          <template v-for="locale in $i18n.availableLocales">
          <button v-on:click="$i18n.locale = locale">{{ $i18n['messages'][locale]['language_name'] }}</button>&nbsp;
          </template>
        </div>
        <div v-html="$t('modal.connection_error', [m1,m2,m3])">
        
        </div>
      </div>
    </div>

    <section id="startpage" v-if="show_startpage">
      <h1>Gnu Heads</h1>
      <noscript><p>You need to activate JavaScript to play the game</p></noscript>
      <section>
        <h1>{{ $t('start.title')}}</h1>
        <label>{{ $t('start.language') }}</label><br>
        <template v-for="locale in $i18n.availableLocales">
          <button v-on:click="$i18n.locale = locale">{{ $i18n['messages'][locale]['language_name'] }}</button>&nbsp;
        </template>
        <br><br>
        <label for="name">{{ $t('start.input_name')}}</label><br>
        <input type="text" v-model="inputPlayerName"><br><br>

        <br><br>
        <button id="btn_join" v-on:click="setPlayerName(); show_next = 'show_choosetable';">{{ $t('btn_join')}}</button> {{ $t('or')}}
        <button id="btn_join" v-on:click="setPlayerName(); show_next = 'show_createtable';">{{ $t('btn_create')}}</button> {{ $t('start.a_table')}}
      </section>
    </section>

    <section id="choosetable" v-if="show_choosetable">
      <h1>Gnu Heads</h1>
      <h2>{{ $t('join.title')}}</h2>
      <p>{{ $t('join.hello', { msg: playerName }) }}</p>
      <label for="table">{{ $t('join.input_table_name')}}</label><br>
      <input type="tel" v-model="tableId"><br>
      <label for="password">{{ $t('input_password')}}</label><br>
      <input type="password"  v-model="tablePassword"><br>
      <button id="btn_join" v-on:click="joinTable">{{ $t('btn_join')}}</button>
      <button v-on:click="quitTable">{{ $t('btn_back')}}</button>
    </section>

    <section id="createtable" v-if="show_createtable">
      <h1>Gnu Heads</h1>
      <h2>{{ $t('create.title')}}</h2>
      <p>{{ $t('create.hello', { msg: playerName }) }}</p>

        <label for="setpassword">{{ $t('input_password')}}</label><br>
        <input type="password"  v-model="tablePassword"><br><br>

        <label for="setstartpoint">{{ $t('create.input_point')}} [5:100]</label><br>
        <input id="setstartpoint" v-model="startPoint" type="number" min="5" max="100"><br><br>

        <label for="setcardnumber">{{ $t('create.input_cards')}} [60:261]</label><br>
        <input id="setcardnumber" v-model="deckSize" type="number" min="60" max="261"><br><br>

        <label for="setcardnumber">{{ $t('create.input_line_amount')}} [2:5]</label><br>
        <input id="setcardnumber" v-model="lineAmount" type="number" min="2" max="5"><br><br>

        <label for="setcardnumber">{{ $t('create.input_line_length')}} [2:8]</label><br>
        <input id="setcardnumber" v-model="lineLength" type="number" min="2" max="8"><br><br>

        <button id="btn_create" v-on:click="createTable">{{ $t('btn_create')}}</button>&nbsp;
        <button v-on:click="quitTable">{{ $t('btn_back')}}</button>
    </section>

    <section v-if="show_table">
      <game-view :hand="hand" :selected="selected" :selected-card-list="selectedCardList" :player-list="playerList" :table-status="tableStatus"
      :table-owner="tableOwner" :player-id=playerId :line-list="lineList" :line-length="lineLength" :end-point="endPoint" :table-id="tableId" :deck-size="deckSize"
      @start-table="startTable()" @quit-table="quitTable()" @select-card="selectCard($event)" @select-line="selectLine($event)"></game-view>
    </section>
  </div>
  <script src="i18n.js"></script>
  <script src="app.js"></script>
  <script src="local.js"></script>
</body>
</html>
