.messagebox{
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.my-message>p:first-of-type{
    font-weight: bold;
    background-color: #ddddff;
}
#chatpage, #statbox{
    display: none;
}
body {
  background-color: #111133;
  background-image: url("table1.jpg");
  color: #eeeeee;
  font-size: 2.5vw;
  margin: 0;
}

button, input {
  font-size: 2.5vw;
}
.card-slot {
  width: 6vw;
  height: 8vw;
  border-radius: 0.5vw;
  margin: 0.3vw;
  border-color: light-grey;
  border-width: 0.1vw;
  border-style: solid;
  display: inline-block;
}
img.card{
  width: 6vw;
  height: 8vw;
  transition: transform 0.5s, width 0.3s, height 0.3s;
  z-index: 0;
  /*transition: transform 0.5s;
   * width: 3.3vw;
  height: 4.5vw;*/
}
img.littlecard{
  width: 3vw;
  height: 4vw;
  transition: transform 0.5s, width 0.3s, height 0.3s;
  position: absolute;
  z-index: 0;
  /*width: 3.3vw;
  height: 4.5vw;*/
}
.card-unselected {
  background-color: #6262B5;
  filter: opacity(60%);
}
#table-view {
  display: inline-block;
  width: 60%;
  //background-color: rgba(255,0,0,0.2);
}
#player-tab {
  //background-color: rgba(0,0,255,0.2);
  display: inline-block;
  width: 40%;
  margin: 0;
  padding: 0;
}
#player-tab > div{
  background-color: rgba(0,0,0,0.5);
  border-radius: 0.5vw;
  /*margin: 1vw 0 0 auto;*/
  width: 90%;
}
div.littlecard{
  width: 3vw;
  height: 4vw;
  display: inline-block;
  position: relative;
  top: 80%;
  transform: translateY(10%);
}
#table-controls {
  display: inline-block;
  width: 36vw;
  text-align: right;
}
#hand {
  display: inline-block;
  width: 61vw;
  //background-color: rgba(0,255,0,0.2);
}
#top-bar, #choosetable {
  background-color: rgba(0,0,0,0.3);
}
#top-bar p {
  margin: 0;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal > div {
  background-color: #111522;
  margin: auto; /* 15% from the top and centered */
  padding: 2vw;
  border: 1px solid #eeeeee;
  width: 90%; /* Could be more or less, depending on screen size */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#winner-view {
    background-image: url("gif_5.gif");
}

.center {
  text-align: center;
}
